@page
@model internRegistration.Pages.LoginModel
@{
}
<br />

<h2> Login </h2>

 @if (Model.errorMessage.Length > 0)
{
    <div class=" alert alert-warning alert-dismissible fade show " role="alert">
        <strong> @Model.errorMessage</strong>
        <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
} 


<form method="POST">
   

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label "> Email</label>
        <div class=" col-sm-6">
            <input type="email" class="form-control" name="Email" placeholder="Enter Your Email Here" value="@Model.loginInfo.Email" required />
        </div>
    </div>

    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label ">Password</label>
        <div class=" col-sm-6">
            <input type="password" class="form-control" name="Password" placeholder="Enter Your Password Here" value="@Model.loginInfo.Password" required/>
        </div>
    </div>



    <div class="row mb-3">
        <div class=" offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class=" btn btn-primary "> Submit</button>
        </div>
        <div class=" col-sm-3 d-grid">
            <a class=" btn btn-outline-primary " href="/" role="button"> Cancel</a>
        </div>

    </div>

</form>

